.main {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow-x: hidden;
}

.page {
  width: 100%;
}

.noAnnouncements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 95vw;
}

.noAnnouncements img {
  width: 70px;
  height: 70px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.addAnnouncement {
  background-color: #3737f0;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  font-size: 100%;
  font-weight: bold;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  position: fixed;
  right: 1vw;
  top: 1vw;
}

.addAnnouncement:hover {
  cursor: pointer;
}

.announcements {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.announcements:last-child {
  border-bottom: 0.1px solid #d3d3d3;
}
