.dashboard {
  margin-left: 100px;
}

.courseGrid {
  display: grid;
  grid-template-columns: 215px 215px 215px 215px 215px;
  grid-gap: 15px;
}

.addCourse {
  background-color: #3737f0;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  font-size: 100%;
  font-weight: bold;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  position: fixed;
  right: 1vw;
  top: 1vw;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
