.main {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.courseDetails {
  display: flex;
  flex-direction: column;
}
