.main {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.courseDetails {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
}

.upcomingTableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upcomingTable {
  width: 60%;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-left: 2px solid #ededed;
  border-right: 2px solid #ededed;
  border-radius: 5px;
  border-spacing: 0;
  overflow: hidden;
}

.upcomingTableRow:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.upcomingStatusIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  width: 20px;
  height: 20px;
  border: 2px solid #ededed;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.late {
  background-color: #ffe044;
  border: 2px solid #907800;
  color: white;
}

.onTime {
  background-color: #00c900;
  border: 2px solid #009400;
  color: white;
}

.overdue {
  background-color: #c90000;
  border: 2px solid #940000;
  color: white;
}
.upcomingTableCell {
  border: 1px solid #ededed;
  padding-left: 10px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upcomingTableCell:first-child {
  border: none;
  border-bottom: 2px solid #ededed;
  width: 30px;
  height: 30px;
}

.upcomingTableCell:nth-child(2) {
  border-left: none;
}

.upcomingTableCell:last-child {
  border-right: none;
}
