.main {
  display: flex;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  overflow-wrap: break-word;
  width: 50vw;
}

.card img {
  width: 30px;
}

.card h3 {
  font-weight: 100;
  font-size: 12pt;
}

.content {
  white-space: pre-wrap;
}
